.option-buttons-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.option-buttons-container button {
    margin-top: 1em;
    font-size: 1.3em;
    width: 50%;
    justify-content: center;
}

#import-example-data-button {

}

#server-info-container {
    width: 50%;
}


.server-data-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

#server-info-container button {
    margin-bottom: 1em;
    width: 50%;

}

@media screen and (max-width: 768px) {
    .option-buttons-container button {
        width: 100%;
    }

    #server-info-container {
        width: 100%;
    }

}